<div class="mainregister">
    
    <form action="" method="post" class="crerate-account">
        <div class="formregister">
            <h1 class="createaccount">Create Account</h1>
    <p id="pleaselogin">Please login using account detail bellow.</p>
            <input class="clientinfo" type="text" name="first-name" id="first-name" placeholder="First Name">
            <input class="clientinfo" type="text" name="last-name" id="last-name" placeholder="Last Name">
            <input class="clientinfo" type="email" name="email-address" id="email-address" placeholder="Email Address">
            <input class="clientinfo" type="password" name="password" id="password" placeholder="Password">
            <a href="" id="forgot-pass">Forgot your password?</a>
            <button type="submit" id="login">LOG IN</button>
            <a href="" id="have-account">Don't have an Account? Create an account</a>
        </div>
        
    </form>
    
</div>
