<p>dailycalories works!</p>
<main>
    <div class="container">
        <!-- Tarjeta de Calorias -->
        <div class="cardMaxCalories">
            <!-- Texto Tarjeta -->
            <div class="titleCalories">
                <h2 class="mainTitle">Set your maximum calories limit here!</h2>
                <h5 class="followQuestions">Answer the following questions in order to have you food information</h5>
            </div>

            <!-- Chart de Calorias -->
            <div class="chartCalories">
                <div class="caloriesRemaining">
                    <h3 class="caloriesNum">892</h3>
                    <h3 class="caloriesText">Calories  <br> Remaining</h3>
                </div>

                <!-- Chart Donut -->
                <div class="donut">
                    <div class="loader"></div>
                    <div class="loader2"></div>
                    <div class="loader3"></div>
                </div>
                
            </div>
            
            <!--  Comidas -->
            <div class="comidas">
                <div class="foods">
                    <div class="dinnerColor"></div>
                    <p class="dinner">Dinner</p>
                </div>
                <div class="foods">
                    <div class="breakfastColor" ></div>
                    <p class="breakfast">Breakfast</p>
                </div>
                <div class="foods">
                    <div class="lunchColor"></div>
                    <p class="lunch">Lunch</p> 
                </div>
            </div>
        </div>

            <!-- Apartado de informacion -->
            <div class="information">
                <h2 class="titleInformation">Add and update your informataion</h2>

                
            </div>

        
    </div>
</main>