.btn-danone {
    background-color: #061ccd;
    color: white;
    display: inline-block;
    border-radius: 11px;
    /* padding: 10px 20px; */
    margin-left: 10px;
}

.bg-nav-color {
    background-color: white;
}

.signin-link {
    font-weight: 700;
    color: black !important;
}

.nav-link {
    margin-left: 97px;
    color: #85B4FF;
}

.nav-link .nav-item.active {
    color: #324BAA;
}

.stylingSearch {
    display: inline-block;
    border-radius: 30px;
    background-color: #F0F1F2;
}