*{
    font-size: 10px;
}
.slides{
    display:flex;
    width: 100%;
    height: 100%;
    text-align: left;
}
#barsslide{
    background-color: #324BAA;
}
#anouncement{
    display:flex;
    width: 179px;
    height: 31px;
    text-align: left;
    background: #E8F3FF;
    border-radius: 6px;
}
#new{
    background-color: #11ACED;
    color: #fff;
    margin: auto;
    Padding:2px 7px 2px 7px;
    border-radius: 5px;
}
#newtext{
    color: #11ACED;
    margin: auto;
}
.descripcionslide{
    padding: 0 0 145px 134px;
    display: block;
    width:60%;
    height:371px;
}

#titleslide{
    
    color: #324BAA;
    font-family: 'Bariol',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6.9rem;
    line-height: 8rem;
    display: flex;
    align-items: center;
}
#descslide{
   
    color: #324BAA;
    font-family: 'Bariol',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.1rem;
    display: flex;
    align-items: center;
}
.button-getstarted{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px;
    gap: 10px;
    color:#fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    
    width: 103px;
    height: 38px;
    
    /* DarkBlue3 */
    background: #061CCD;
    border-radius: 11px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;   
}
.img-slide{
    Height:485.26px;
    Width:572.19px;
}
.TrendingProducts{
    background-image: url("../../../media/homepage/circle-back.png");
    background-repeat: no-repeat;
    width: 100%;
    
}
#TrendingProd{
    font-family: 'Bariol',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;

/* VioletBlue */
color: #324BAA;

padding-top: 105px;
padding-left: 40%;
}


#beforefooter{
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 405px;
    left: -15px;
    top: 1185px;
}

