<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button id="barsslide" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button id="barsslide" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button id="barsslide" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class="slides">
            <div class="descripcionslide">
                <div id="anouncement">
                    <p id="new">New</p>
                    <p id="newtext">Monitor your calories!</p>
                </div>
                <h1 id="titleslide">Keep track of your daily calorie limit!1</h1>
                <p id="descslide">Tell us your maximum daily calorie intake and we will recommend the products that best suit your goals!</p>
                <button id="getstartedslide" class="button-getstarted">GET STARTED</button>
            </div>
            <img src="../../../assets/homepage/slideimage.png" class="img-slide" alt="img slider">
        </div>
        
      </div>
      <div class="carousel-item ">
        <div class="slides">
            <div class="descripcionslide">
                <div id="anouncement">
                    <p id="new">New</p>
                    <p id="newtext">Monitor your calories!</p>
                </div>
                <h1 id="titleslide">Keep track of your daily calorie limit!1</h1>
                <p id="descslide">Tell us your maximum daily calorie intake and we will recommend the products that best suit your goals!</p>
                <button id="getstartedslide" class="button-getstarted">GET STARTED</button>
            </div>
            <img src="../../../assets/homepage/slideimage.png" class="img-slide" alt="img slider">
        </div>
      </div>
      <div class="carousel-item ">
        <div class="slides">
            <div class="descripcionslide">
                <div id="anouncement">
                    <p id="new">New</p>
                    <p id="newtext">Monitor your calories!</p>
                </div>
                <h1 id="titleslide">Keep track of your daily calorie limit!1</h1>
                <p id="descslide">Tell us your maximum daily calorie intake and we will recommend the products that best suit your goals!</p>
                <button id="getstartedslide" class="button-getstarted">GET STARTED</button>
            </div>
            <img src="../../../assets/homepage/slideimage.png" class="img-slide" alt="img slider">
        </div>     
      </div>
    </div>
    
  </div>
  <div class="TrendingProducts">
    <h2 id="TrendingProd">Trending Products</h2>
    
     <div class="container">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-container mySwiper">
         
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="masboton">
                        <img class="img-mas" src="../../../assets/homepage/masboton.png" alt="boton mas">
                    </div>
                    <div class="cardimg">
                        <img class="img-card" src="../../../assets/homepage/prod1.png" alt="producto1">
                    </div>
                    <div class="card-description">
                        <div class="card-title">
                            <p class="titulocard">Danone ECO Natural x 4</p>
                        </div>
                        <div class="card-text">
                            <p class="carddescription">Danone's ECO reinforces and elevates the values of health and naturalness.</p>
                        </div>
                        <div class="card-link">
                            <p class="cardcalories">62/100 kcal</p>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="masboton">
                        <img class="img-mas" src="../../../assets/homepage/masboton.png" alt="boton mas">
                    </div>
                    <div class="cardimg">
                        <img class="img-card" src="../../../assets/homepage/prod2.png" alt="producto1">
                    </div>
                    <div class="card-description">
                        <div class="card-title">
                            <p class="titulocard">Danone Azucarado x 16
                            </p>
                        </div>
                        <div class="card-text">
                            <p class="carddescription">Danone's ECO reinforces and elevates the values of health and naturalness.</p>
                        </div>
                        <div class="card-link">
                            <p class="cardcalories">62/100 kcal</p>
                        </div>
                    </div>
            </div>
                <div class="swiper-slide">
                    <div class="masboton">
                        <img class="img-mas" src="../../../assets/homepage/masboton.png" alt="boton mas">
                    </div>
                    <div class="cardimg">
                        <img class="img-card" src="../../../assets/homepage/prod3.png" alt="producto1">
                    </div>
                    <div class="card-description">
                        <div class="card-title">
                            <p class="titulocard">Danone Original Griego Natural</p>
                        </div>
                        <div class="card-text">
                            <p class="carddescription">Danone's ECO reinforces and elevates the values of health and naturalness.</p>
                        </div>
                        <div class="card-link">
                            <p class="cardcalories">62/100 kcal</p>
                        </div>
                    </div>
            </div>
                <div class="swiper-slide">
                    <div class="masboton">
                        <img class="img-mas" src="../../../assets/homepage/masboton.png" alt="boton mas">
                    </div>
                    <div class="cardimg">
                        <img class="img-card" src="../../../assets/homepage/prod4.png" alt="producto1">
                    </div>
                    <div class="card-description">
                        <div class="card-title">
                            <p class="titulocard">Danone ECO Natural x 4</p>
                        </div>
                        <div class="card-text">
                            <p class="carddescription">Danone's ECO reinforces and elevates the values of health and naturalness.</p>
                        </div>
                        <div class="card-link">
                            <p class="cardcalories">62/100 kcal</p>
                        </div>
                    </div>
            </div>
                <div class="swiper-slide">
                    <div class="masboton">
                        <img class="img-mas" src="../../../assets/homepage/masboton.png" alt="boton mas">
                    </div>
                    <div class="cardimg">
                        <img class="img-card" src="../../../assets/homepage/prod1.png" alt="producto1">
                    </div>
                    <div class="card-description">
                        <div class="card-title">
                            <p class="titulocard">Danone ECO Natural x 4</p>
                        </div>
                        <div class="card-text">
                            <p class="carddescription">Danone's ECO reinforces and elevates the values of health and naturalness.</p>
                        </div>
                        <div class="card-link">
                            <p class="cardcalories">62/100 kcal</p>
                        </div>
                    </div>
            </div>
               
                
                </div>
       
            </div>
         
         

        </div>

    </div>
    <!-- Swiper JS -->

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script >
        var swiper = new Swiper('.swiper-container', {
	navigation: {
	  nextEl: '.swiper-button-next',
	  prevEl: '.swiper-button-prev'
	},
	slidesPerView: 1,
	spaceBetween: 10,
	// init: false,
	pagination: {
	  el: '.swiper-pagination',
	  clickable: true,
	},

  
	breakpoints: {
	  620: {
		slidesPerView: 1,
		spaceBetween: 20,
	  },
	  680: {
		slidesPerView: 2,
		spaceBetween: 40,
	  },
	  920: {
		slidesPerView: 3,
		spaceBetween: 40,
	  },
	  1240: {
		slidesPerView: 4,
		spaceBetween: 50,
	  },
	} 
    });
    </script>

<div class="imgbeforefooter">
  <img src="../../../assets/homepage/Rectangle 1.png" alt="imagen antes del footer" id="beforefooter">
</div>

