<div class="mainlogin">
    
    <form action="" method="post" class="login-account">
        <div class="formlogin">
            <h1 class="loginaccount">Hi, Welcome Back!</h1>
            <p id="pleaselogin">Please login using account detail bellow.</p>
            <input class="clientinfo" type="email" name="email-address" id="email-address" placeholder="Email Address">
            <input class="clientinfo" type="password" name="password" id="password" placeholder="Password">
            <a href="" id="forgot-pass">Forgot your password?</a>
            <button type="submit" id="login">LOG IN</button>
            <a href="" id="have-account">Don't have an Account? Create an account</a>
        </div>
        
    </form>
    
</div>
