
    <footer class="footer-distributed">
        <!-- LOGO -->
        <div class="logo">
            <img class="danone-logo" src="../../../assets/logos/image 3.png" alt="Danone logo">
        </div>
    
        <!-- DERECHOS -->
        <div class="reserved">
            <p>&copy; All Rights Reserved</p>
        </div>
    
        <!-- Social Media -->
        <div class="media-buttons">
            
            <a href="https://www.facebook.com/DanoneMX/" target="_blank"> 
                <img class="logo-fb" src="../../../assets/social/Mini Button fb.png" alt="Like us on Facebook">
            </a> 
                
            <a href="https://www.youtube.com/@DanoneMexico_MX" target="_blank">
                    <img class="logo-yt" src="../../../assets/social/Mini Button yt.png" alt="Suscribe ">
            </a>
             
            <a href="">
                 <img class="logo-wp" src="../../../assets/social/Mini Button wp.png" alt="Send a message">
            </a>
        </div>
    </footer>


           
   

