<p>footer works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <!-- LOGO -->
        <div class="logo">
            <img class="danone-logo" src="/src/media/logos/image 3.png" alt="Danone logo">
        </div>
    
        <!-- DERECHOS -->
        <div class="reserved">
            <p>&copy; All Rights Reserved</p>
        </div>
    
        <!-- Social Media -->
        <div class="media-buttons">
            
            <a href="https://www.facebook.com/DanoneMX/" target="_blank"> 
                <img class="logo-fb" src="./src/assets/Mini Button fb.png" alt="Like us on Facebook">
            </a> 
                
            <a href="https://www.youtube.com/@DanoneMexico_MX" target="_blank">
                    <img class="logo-yt" src="/src/media/social/Mini-Button-yt.png" alt="Suscribe ">
            </a>
             
            <a href="">
                 <img class="logo-wp" src="/src/media/social/Mini Button wp.png" alt="Send a message">
            </a>
        </div>
    </footer>
</body>
</html>

           
   

